<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <ul>
        <li v-for="(bird,val) in birds">{{val}}->{{bird}}</li>
      </ul>

      <hr />

   <ul>
    <li v-for="person in people">
      <div v-for="(value,key) in person">
         {{key}}:{{value}}
      </div>
    </li>
   </ul>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
